html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.form-group {
    position: absolute;
    background-color: #fff;
    box-shadow: 5px 6px 9px #999;
    min-width: 600px;
    min-height: 800px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-group h1 {
    color: rgb(56, 166, 255);
}

.form-controls {
    border: 1px solid #000;
    padding: 15px;
    margin: 15px;
}

.customers-form #cars {
    margin: 15px 0;
}

.cars-form #date {
    margin: 15px 0 15px 10px;
}

.btn {
    width: 40%;
    padding: 5px 0;
    font-weight: 600;
    color: #fff;
    background: rgb(56, 166, 255);
    border: none;
    border-radius: 3px;
}

